[2014-09-08 04:11] roncohen opened #11 "app_id not settable from environment variable"
Somehow I forgot to make `app_id` read out from an environment variable.

[2015-03-03 11:35] jzelez opened #26 "AttributeError: XYZ object has no attribute '_class__'"
I think you have an error in Django Middleware on line 62.
It should say `view_name = self.thread_local.view_func.__class__.__name__`.
Currently it's missing one underscore in front of class.

It errors out with my configuration which includes newrelic:
[code]

[2015-03-03 12:22] roncohen commented on #26
Well that's embarrassing. I'll fix it right away

[2015-03-03 12:23] jzelez commented on #26
Thanks ;)

[2015-03-03 12:50] #11 closed

[2015-03-03 12:50] roncohen commented on #26
@jzelez Thanks for reporting this. It's fixed in 2.0.1. Give it a try!

[2015-03-03 12:50] #26 closed

[2015-03-03 12:54] jzelez commented on #26
Yup. All cool now. ;)

[2015-03-09 13:12] koalalorenzo opened #27 "ImportError: No module named http"
When using opbeat 2.0.1 I have this error on my testing machine. By installing the 2.0.0 version it is working perfectly. This is the error generated by pytest

[code]

Is this my fault?

[2015-03-16 08:33] roncohen commented on #27
Hey @koalalorenzo. We've been unable to reproduce this. Is is still a problem?

[2015-03-16 08:48] koalalorenzo commented on #27
Yes, basically we are stuck to version 2.0.0 because the 2.0.1 is not working for us. I also tried to create from scratch a docker container to test this and the problem was there. Could it be a problem caused by opbeatcli? it is raised only when I use pytest.

[2015-03-16 08:51] roncohen commented on #27
It could very well be the opbeat-cli. We've deprecated the opbeat-cli in favour of a simple CURL call. Try to unstall the opbeat-cli and take a look here: https://opbeat.com/docs/articles/get-started-with-release-tracking/

[2015-03-16 13:40] koalalorenzo commented on #27
Even if I switched to curl, the problem is still there. We are keeping 2.0.0, but I promise that I will test once in a while.

[2015-03-23 10:00] piquadrat opened #33 "Django master breaks template culprit"
This change breaks template culprit detection

https://github.com/django/django/commit/55f12f870

[2015-03-24 13:48] #33 closed

[2015-05-11 12:21] piquadrat opened #36 "Introduce killswitch"
The current recommended way to disable Opbeat (e.g. during tests) is to set `OPBEAT['APP_ID'] = None`. This is a bit brittle, e.g. it can be overriden again during client initialization if and `OPBEAT_APP_ID` environment variable is set.

One solution would be to introduce a setting/env variable `OPBEAT_DISABLED` which, when set to `True`, takes precedence over everything else.

[2015-06-09 05:35] martey opened #39 "Disabled module falsely claims that it is sending messages during tests"
Django 1.8.2, Opbeat 2.1.1

I have disabled Opbeat by setting `OPBEAT["APP_ID"] = None`. When I run `./manage.py test`, I get the following lines printed out at the end of each run:

[code]

Based on what I can tell with netstat, Opbeat correctly realizes that it is disabled and does not really attempts to send messages to the intake servers. The messages are still sort of confusing, though.

[2015-06-09 10:06] piquadrat commented on #39
Thanks for the report! This is indeed a problem. In this case, the pending message is from the APM middleware, not an exception. We are looking into introducing a cleaner way to disable Opbeat collecting any data (see #36).

As a workaround, you can try removing the APM middleware during tests:

    MIDDLEWARE_CLASSES.remove('opbeat.contrib.django.middleware.OpbeatAPMMiddleware')

[2015-06-09 10:08] piquadrat commented on #36
As reported in #39, `OPBEAT['APP_ID'] = None` doesn't stop the APM middleware from collecting metrics data.

[2015-06-10 22:46] martey commented on #39
`MIDDLEWARE_CLASSES` is a tuple, so the suggested workaround gave me an error. Removing the APM middleware did work with the following code:

[code]

[2015-07-07 20:11] piquadrat opened #43 "Rename `async` instance variable of `Client`"
https://github.com/opbeat/opbeat_python/blob/master/opbeat/base.py#L149

Usage of `async` as variable name is recommended against starting with Python 3.5, and will be a keyword with 3.7. The earlier we rename it, the better

https://docs.python.org/3.5/whatsnew/3.5.html#new-keywords

[2015-07-16 11:36] roncohen opened #50 "With persistent connections, opbeat can cause an additional error when collecting user data"
With Django's persistent connections, it can happen that a connection to the database is closed for misc. reasons. This will cause an `OperationalError` in Django. When Opbeat tries to pick up the user information for that error, it tries accessing the database, causing an additional `OperationalError`.

Solution for now is to catch any `OperationalError`s when we're gathering the extra data (user

[2015-07-16 12:03] apollo13 commented on #50
FWIW, this can also happen without persistent connections -- but it is easier to see and reproduce if you have persistent connections.

[2015-07-24 19:53] Chive opened #53 "Exception during timing of request"
**Python 2.7.3 / Django 1.4.21 / opbeat 3.0.2**

I cannot say for sure since when we've been experiencing these errors as they did not appear on our exception tracking, but they sure spam the gunicorn log (notice the timestamps).

[code]
If you need any more info, I'll be happy to provide it :)

[2015-07-24 20:19] piquadrat commented on #53
Thanks for the report! We'll try to reproduce.

[2015-07-27 08:19] #43 closed

[2015-07-28 20:30] piquadrat opened #54 "Not all errors raised during object transformation are catched"
When objects (e.g. local variables in frames) are transformed, some exceptions are not catched, leading to the loss of the whole error instead of just that object.

As a quick fix, we could just wrap the whole transform function in a try/except, but I think the whole transformation logic could use a bit of cleanup :)

[2015-07-30 13:30] #50 closed

[2015-07-30 19:14] AndreasBackx opened #58 "3.0.2 printing tons of debug on start"
i'm using Django 1.7.9 together with Opbeat and [django-configurations](https://github.com/jezdez/django-configurations). Whenever configurations.management.execute_from_command_line (from django-configurations) is called with the sys.argv in manage.py I get the output below. This happens with Opbeat 3.0.2 but not with Opbeat 2.0.1 so I think this might be a problem with Opbeat? I don't see anythi

[2015-07-30 19:19] piquadrat commented on #58
Yep, this definitely is annoying. Thanks for opening an issue, we'll look into it ASAP!

[2015-07-31 12:27] roncohen commented on #58
I've merged #59 (released in 3.0.4). As a tip, you can silence logging from the opbeat module with something along the lines of:
[code]

Django equivalent would be something like (see https://docs.djangoproject.com/en/1.8/topics/logging/#examples):
[code]

[2015-07-31 12:27] #58 closed

[2015-07-31 12:27] roncohen commented on #58
Let me know if that doesn't solve your issue @AndreasBackx !

[2015-08-01 23:53] AndreasBackx commented on #58
3.0.4 does stop it from showing up a million times. I still shows up twice but setting the log level of Opbeat to warnings does silence them, thank you.

[code]

[2015-08-03 08:42] piquadrat commented on #53
@Chive this should be fixed in 3.0.4. Can you verify? If you're still seeing it, feel free to reopen this issue!

[2015-08-03 08:42] #53 closed

[2015-08-03 08:46] roncohen commented on #27
@koalalorenzo Hey! A lot has happened in the module since you last tried it. Can you give it another try?

[2015-08-03 09:05] koalalorenzo commented on #27
Sadly I am not working anymore with opbeat, and I don't have access to the server. You may contact minbildinbil.dk support to get in touch with the Tech Guy... but I remember that they planned to take the website down, so I don't know if they are still using it, so they can test. Sorry!

[2015-08-03 09:15] roncohen commented on #27
Very sad to hear it @koalalorenzo. I'll try to reach out to them.

[2015-08-03 09:15] #27 closed

[2015-09-02 09:28] piquadrat opened #61 "Support parsing of `multipart/form-data` post bodies"
We currently are not able to parse form data if it is encoded as `multipart/form-data`.

[2015-09-03 03:57] daikeren commented on #61
I would like to try to fix this issue since I need the feature. Could I fix the issue by modified the code
https://github.com/opbeat/opbeat_python/blob/master/opbeat/contrib/django/client.py#L85-L110

here?
Thanks.

[2015-09-09 12:59] piquadrat commented on #61
@daikeren sorry for the delay. Yes, that would indeed be the place to fix the problem. It might make sense to piggy back on Django's parsing of `multipart/form-data` (used here: https://github.com/django/django/blob/master/django/http/request.py#L271)

[2015-09-12 21:27] dirtycoder commented on #36
@piquadrat I'm quite interested of helping with this, but I think I'll need some directions, as I haven't read the source code yet. If you wish so, get in touch.

[2015-09-14 10:44] roncohen opened #62 "Better view names for DRF/Tastpie transactions"
Django Rest Framework ViewSets will show up as a single transaction even though a ViewSet might have different methods that provide different functionality.

[2015-09-15 09:37] piquadrat commented on #36
@dirtycoder thanks, that'd be great! Our way of thinking was to introduce
a property on `opbeat.base.Client` (e.g. `is_enabled`), and then check in
`opbeat.base.Client.send` if that property is set.

This property should be settable via environment variables, as well as
django settings, and when instantiating the client manually. This is analogous
to how e.g. the organization id is configured.

[2015-09-15 22:19] dirtycoder commented on #36
@piquadrat great! I'll take a look at it during the weekend. Thanks.

[2015-09-23 09:45] nMustaki opened #66 "Flask client : logging option log "info" level as error"
Hi,

So with logging=True, if I do app.logger.info("test"), it is sent back to Opbeat server and tagged as error. I expected only "error" and "exception" messages to be sent ?
I relevant, here my logging initialization code :
[code]

Thanks

[2015-09-23 09:54] roncohen commented on #66
Hey @nMustaki. By default, the handler will pick everything up. I want to change it to only WARN or more severe.

In the meantime, check out the "fine-grained" example here: https://opbeat.com/docs/articles/get-started-with-flask/#logging
It explicitly adds the handler and filters out everything below WARN. You can do that instead of `logging=True`.

[2015-09-23 10:05] nMustaki commented on #66
So I will, thanks !

[2015-09-23 10:05] #66 closed

[2015-09-23 10:50] nMustaki opened #67 "How does @opbeat.trace works ?"
I couldn't find any doc about it ?

Thanks !

[2015-09-23 10:52] roncohen commented on #67
It's on the way! :)

[2015-09-23 11:05] nMustaki commented on #67
Great !

[2015-09-24 12:25] stas opened #68 "Postgres instrumentation is incomplete"
The instrumentation is not covering the psycopg2 extensions API.
In order to reproduce this, try calling `psycopg2.extensions.ISQLQuote.prepare()` with the wrapped connection object, it will raise a

[code]

An example of such a use-case is when trying to adapt a iterator in an array column type query.
To be specific, peewee is using such an adapter:
https://github.com/coleifer/peewee/blob/master/

[2015-09-24 13:17] roncohen commented on #68
Hey @stas! Thanks for this. I'll take a look.

[2015-09-25 17:04] tarkatronic opened #69 "Django 1.9 compatibility"
The Opbeat module is not currently compatible with Django 1.9a1, just released yesterday, due to the following change: https://docs.djangoproject.com/en/dev/releases/1.9/#template-loaderorigin-and-stringorigin-are-removed

I am currently getting the following traceback:
[code]

Actually, I just fixed it locally, so I'll have a quick patch incoming shortly!

[2015-10-08 14:12] koutoftimer opened #73 "Broken APM django middleware"
Steps to reproduce:
1. Example setup https://opbeat.com/docs/articles/get-started-with-django/#setup
2. `pip install opbeat>=3.0.4`
3. Run development server

[code]

With version `3.0.2` everything works fine.

[2015-10-08 16:25] piquadrat commented on #73
@koutoftimer thanks for the report! Could it be that any of the middleware classes you use have the `@staticmethod` decorator on `process_request` or `process_response`?

If that's the case and there are no pressing reasons for those methods to be static, I suggest to remove that decorator and make the methods "normal" instance methods (this is the interface suggested by Django).

If that's not an

[2015-10-08 17:54] koutoftimer commented on #73
Yes, I have middleware with `@staticmethod` decorator. I'm lucky, it is under my control. Thank you for fast response.

[2015-10-08 17:54] #73 closed

[2015-10-21 08:30] #69 closed

[2015-10-22 08:51] piquadrat commented on #36
This is now released in 3.1.2

https://opbeat.com/docs/articles/get-started-with-django/#tests

[2015-10-22 09:11] dirtycoder commented on #36
Great! :clap:

[2015-11-02 17:28] hurrba commented on #62
any updates on this?

[2015-11-11 14:43] RasmusKlett opened #81 "Django 404 middleware does not respect settings.DEBUG"
The Django middleware "opbeat.contrib.django.middleware.OpbeatAPMMiddleware" does not send errors when settings.DEBUG = False.
I would expect the same behaviour from "opbeat.contrib.django.middleware.Opbeat404CatchMiddleware", but it is not the case. From skimming the code, it does not appear that it attempts to check DEBUG at all, so it is probably just a matter of making it use the same check as

[2015-11-16 16:17] tarkatronic opened #82 "Opbeat appears to still be attempting to send, when explicitly disabled"
Here's what I'm seeing; I think it is pretty self explanatory:

[code]

Should I still be seeing these messages, and just trust that nothing is being sent?

[2015-11-16 16:31] piquadrat commented on #82
@tarkatronic that's odd. Thanks for reporting, we'll investigate!

[2015-11-16 17:02] piquadrat commented on #82
@tarkatronic I'm not able to replicate this :( Can you verify that the version of Opbeat that is used by Django is really 3.1.3, e.g. with this command?

    echo "import opbeat; print(opbeat.VERSION)" | ./manage.py shell

[2015-11-16 17:05] tarkatronic commented on #82
[code]

[2015-11-16 17:14] tarkatronic commented on #82
Crap, looks like this was my bad. I was referencing my own checkout of opbeat_python, rather than the one in site-packages. Sorry about that. Strange that it still reported a version of 3.1.3 though, when my fork is 3.1.1. Perhaps a strange bug in the version reporting?

[2015-11-16 17:14] #82 closed

[2015-11-17 08:15] piquadrat commented on #82
The version issue might stem from this code: https://github.com/opbeat/opbeat_python/blob/a72e4e69e23deefbcc4be3cc281b3a089f1c0b60/opbeat/__init__.py#L15-L16

[2015-11-17 10:00] #81 closed

[2015-11-17 10:04] piquadrat commented on #81
Thanks for the report @RasmusKlett, that's absolutely correct. I just merged a fix, it will be shipped with the next version of the module.

In the meantime, you can make Opbeat not send any data (e.g. during tests) by setting the `OPBEAT_DISABLE_SEND` environment variable to `true`.

[2015-11-17 12:14] RasmusKlett commented on #81
Great news.
In the meantime I just conditionally add the middleware based on the value of DEBUG, works like a charm :)

[2015-11-24 10:13] mvantellingen opened #84 "Differentiate between ajax and normal requests for performance overview"
It would be cool to split the performance overview in regular requests and ajax requests. We can achieve this ourselves by appending '_ajax' to the view name if `request.is_ajax` is true (in Django) via monkeypatching.

[2015-11-26 10:08] nMustaki opened #85 "Activating logging=True in Flask cause errors"
Hi,

I wanted to have Opbeat log to a file, so I initialized it like this :
[code]

But the flask dev server printed this message and then nothing while still serving content :
[code]

Any ideas ? Thanks !

[2015-11-30 12:27] roncohen commented on #84
@mvantellingen thank you for this feature request. This could certainly be interesting. We've also considered differentiating different HTTP method requests to the same views. E.g. `POST /api/users` different from `GET /api/user`.

When we take another look at it, I will also be taking this issue into consideration. Thanks again!

[2015-12-04 04:14] stas opened #86 "SQL signatures overwrite"
We were hunting down a slow endpoint and found this.

If you have two queries hitting the same table inside one call, only one query will report.
Looking at the way `extract_signature()` works, this theory sounds valid:
https://github.com/opbeat/opbeat_python/blob/master/opbeat/instrumentation/packages/dbapi2.py#L125

In our case, a query that is OK would shadow a query that causes slowness.
I mig

[2015-12-04 18:32] roncohen commented on #86
Hey stas,

Thanks for reaching out regarding this issue. I believe you're right and that this is a limitation in the current implementation. We have some different ideas about to better bring to light the slow traces that can get shadowed. I'll leave this open so you can track our progress.

[2016-01-05 22:05] roncohen opened #87 "Differentiate http method in Django views"
We should differentiate between the different http methods in Django. GET and POST in the same view muddle the results.

[2016-01-06 12:49] jbub opened #88 "Django 1.9 crash"
Dont know why, but client sometimes crashes on Django 1.9 with:

`'NoneType' object has no attribute 'lineno' `

**Crashes on this line**
https://github.com/opbeat/opbeat_python/blob/master/opbeat/contrib/django/utils.py#L98

**Setup**
Django==1.9.1
opbeat==3.1.3

Maybe `renderer.token` can be `None` in some cases ?

[2016-01-06 14:18] piquadrat commented on #88
Thanks for the report @jbub! We're working on a fix already. We're still trying to understand under which circumstances the `renderer` (which is a `Node` instance) doesn't have a valid token at the moment. I hope to have the fix out soon.

[2016-01-06 19:27] jbub commented on #88
If its helps, in my case renderer contains:
`'<Block Node: javascript. Contents: [<TextNode: u\'\\n    \'>, <Variable Node: block.super>, <TextNode: u\'\\n    <script src="https:/\'>]>'`

Seems like it is crashing when rendering `pipeline.templatetags.pipeline.render_js` template tag. https://github.com/jazzband/django-pipeline/blob/master/pipeline/templatetags/pipeline.py#L113

[2016-01-07 10:23] piquadrat commented on #88
@jbub we just released version 3.1.4 of the agent, which should hopefully fix this. I wasn't able to reproduce the issue myself, could you give it a try with your project?

[2016-01-07 10:27] jbub commented on #88
@piquadrat Thanks, im on it.

[2016-01-07 10:56] piquadrat commented on #88
Awesome, thanks for the update @jbub!

[2016-01-07 15:30] piquadrat commented on #88
Fixed in #89 / 3.1.4. Feel free to re-open if the error reappears :)

[2016-01-07 15:30] #88 closed

[2016-01-07 16:02] jbub commented on #88
Okay, thanks, will report here if something fails.

[2016-01-11 10:47] roncohen commented on #87
@jalvz fixed this in 890cb817bd7d25332585427c59d7569a799336ee

[2016-01-11 10:47] #87 closed

[2016-01-19 12:49] dizballanze commented on #62
:+1:

[2016-02-10 17:24] roncohen opened #94 "SQL instrumentation can break queries with no arguments in certain edgecases"
If a mysql query is made directly to `cursor.execute(query)` (as opposed to `cursor.execute(query, args)`) and the query contains `%` the driver will try to replace it using the format notation resulting in a `TypeError: ('not enough arguments for format string')`.

[2016-02-11 09:49] gcbirzan opened #95 "The requests instrumentation swallows exceptions"
If you try to use it with a malformed URL (no schema) the exception becomes:

opbeat/instrumentation/packages/requests.py", line 29, in call
    signature += " " + host
TypeError: cannot concatenate 'str' and 'NoneType' objects

[2016-02-11 13:12] roncohen commented on #95
Hi @gcbirzan,

Thank you for the bug report. Much appreciated. I'll take a look.

[2016-02-11 14:54] roncohen opened #96 "opbeat.trace() shows the last line of the decorated function"
The stacktrace of a deocrated function shows up as the last line of the decorated function. We should instead show the function signature or the decorator.

[2016-02-16 16:12] sburns opened #97 "Trouble connecting RQ workers to Opbeat"
Hi, thanks for Opbeat, we very much enjoy using it. We're in the process of moving our Django app to use [RQ](http://python-rq.org)+[django-rq](http://github.com/ui/django-rq) and want to continue to get errors logged in Opbeat.

I'm trying to use `opbeat.contrib.rq.register_opbeat` this way...

[code]

And I start up the worker with the custom class, `./manage.py rqworker high low medium --worker

[2016-02-22 10:18] jalvz commented on #94
Fixed in 3.2.2

[2016-02-22 10:18] #94 closed

[2016-02-22 10:19] jalvz commented on #95
Hi @gcbirzan ,

This issue is fixed now in the last version (3.2.2)

Thanks!

[2016-02-22 10:19] #95 closed

[2016-02-22 16:16] jalvz opened #101 "defensive check captured exceptions"
opbeat.log_current_exception should ensure that there is an actual exception at the time it is called.

[2016-02-23 13:55] eliasj opened #102 "Problem with proxy, Django and opbeat"
Hi,
I have problem with opbeat reaching the intake server when running opbeat with Django. With Flask I don't have that problem, both running on the same server/environment.

Proxy is set in environment variables. I added so when opbeat/transport/http.py is loaded, it writes the proxies.
[code]

Is there anything I need to configure or missed to test?

[2016-02-23 14:03] piquadrat commented on #102
Hi Elias

This sounds like a bug. Thanks for reporting, we'll investigate! In the meantime (and if your proxy server supports it), could you check if it helps to set the `HTTPS_PROXY` environment variable to `https://wwwproxy.work.se:808` (probably a different port)?

[2016-03-03 16:01] piquadrat commented on #97
@sburns sorry for the long wait. I debugged this a bit, and it seems that our async http mode isn't compatible with rq. As a workaround, you can disable the async mode like this

    from opbeat.contrib.django.client import DjangoClient
    from opbeat.contrib.django.models import get_client_config
    from opbeat.contrib.rq import register_opbeat

    from rq import Worker

    class MyWorker(Wor

[2016-03-03 16:51] sburns commented on #97
Thanks for the update! I'll give this a spin and let you know how it goes.

[2016-03-21 19:44] sburns commented on #97
Hi @piquadrat this didn't work for me :(

[2016-03-22 10:01] piquadrat commented on #97
@sburns bummer :( We'll investigate further

[2016-04-11 08:30] docapotamus opened #108 "Pymongo support"
In the Opbeat performance metrics I can not see any calls made to MongoDB.

I am willing to add this myself via a PR. Does this require anything on the server side? Or just an update on the client?

Thanks

[2016-04-18 08:58] piquadrat commented on #108
Hey @docapotamus. Sorry for the delay. Adding support for MongoDB shouldn't require any server-side changes. In fact, our module for node.js already has support for MongoDB: https://github.com/opbeat/opbeat-node/blob/master/lib/instrumentation/modules/mongodb-core.js

A PR would be fantastic! You can get some hints how our instrumentation works by looking at the existing modules that we instrument

[2016-05-05 16:53] KevinEtienne opened #110 "Django management command to create a release"
I have a management command for `Django` to create a release. It accepts a revision and a branch as arguments and take the organisation, app id and the bearer from environment variables.

Is this something which would get some interests? It does pretty much the same as the [`fabric`](https://opbeat.com/docs/articles/release-tracking-with-fabric/) version and could be handy for those not using `fab

[2016-05-09 11:09] piquadrat commented on #110
Thanks for your interest in improving the Opbeat module, that's great! We discussed adding a management command like this for a long time, so we're definitely open to add it.

For getting the org/app IDs and the secret token, it would probably be better to just import a client object from `opbeat.contrib.django.models` and get the variables from there. That way, you get the correct values, no matt

[2016-05-19 15:27] dwieeb opened #112 ""library frames""
Opbeat is pretty good at hiding the library frames for Flask, newrelic, librato, std library, etc. We wrap Flask in our own Python package (installed separately, so think of it as third party) such that every single one of our reported errors have a stack trace that ends with the same three calls (our error handling and reporting code).

Is there a way to tell Opbeat to treat a certain Python pack

[2016-05-24 09:10] piquadrat commented on #112
Unfortunately, it is currently not possible to influence the in-app detection. However, as far as I understand you, you install your custom package just as any other package, so our detection should theoretically be able to figure it out. Can you send us an example of an error to support@opbeat.com?

[2016-06-03 14:42] coagulant opened #115 "3.3.1 release contains print statement in django middleware"
Could you please remove print statement, because it appears in production logs.
I couldn't find it in [git history](https://github.com/opbeat/opbeat_python/commits/master/opbeat/contrib/django/middleware/__init__.py) however.

Also, releasing opbeat as a python wheel would be nice.

[code]

[code]

[2016-06-03 14:59] piquadrat commented on #115
Thanks for the heads-up and sorry about the trouble! We just shipped an updated version to pypi, 3.3.2, which doesn't have the said print statement.

As for wheels, we are working on that. Due to the fact that we have a binary component to our module, shipping it as a wheel is not trivial. Since the last release, we automatically build binary [manylinux](https://www.python.org/dev/peps/pep-0513/l)

[2016-06-03 14:59] #115 closed

[2016-07-15 16:19] loop0 opened #119 "Should create a patch_cli_runner like raven for django commands"
Hey guys, it wouldn't be bad to have opbeat collect uncaught exceptions in django commands like raven does: https://github.com/getsentry/raven-python/blob/master/raven/contrib/django/management/__init__.py

[2016-07-18 10:39] Zowie commented on #97
Hi! Is there any fix for this already? Otherwise I'll just have to move to Celery :)

[2016-07-18 15:40] sburns commented on #97
We're close to that as well.

[2016-08-03 12:22] huwshimi opened #120 "Middleware fails with Django 1.10"
If I use the `OpbeatAPMMiddleware` middleware with the new `MIDDLEWARE = [...]` setting then any view fails with:

[code]

I believe the middleware may need updating to be compatible with Django 1.10: https://docs.djangoproject.com/en/1.10/topics/http/middleware/#upgrading-pre-django-1-10-style-middleware

[2016-08-05 08:16] piquadrat opened #121 "OpbeatLogMiddleware is unfinished/undocumented"

[2016-08-05 08:31] piquadrat commented on #120
Thanks for the report! Unfortunately, we couldn't finish support for Django 1.10 just yet. We hope to release an update soon.

[2016-08-05 09:52] Geekfish commented on #121
Hey @piquadrat ! I was linked to this from your very helpful support message.
In my tests, enabling the middleware seems to have the expected result already.
It looks like the request is already passed back to the handler? (https://github.com/opbeat/opbeat_python/blob/3.3.4/opbeat/contrib/django/handlers.py#L34)

Is there another component that is missing?

[2016-08-05 11:17] piquadrat commented on #121
Ah, right, for logging handlers the request is already grabbed from the threadlocal. For full support, we also need to grab it in `DjangoClient.capture`.

But great to hear that the current state already fulfils your requirements!

[2016-08-08 11:58] alexanderad commented on #86
We applied a wild patch (https://github.com/alexanderad/opbeat_python/commit/ca950b27063d8420402122ff6c60af97d66aa602) to double check described issue.

Perhaps results displayed in this way are not super fancy, but true performance report on multiple (but different) queries hitting same table is shown. Queries which are identical should be still grouped together, since they have same hash signatu

[2016-08-11 10:22] stas commented on #86
@alexanderad I'm happy. Btw, the pic is no longer available. @roncohen it would be great to have your feedback on this too! Ty!

[2016-08-11 13:02] alexanderad commented on #86
Updated pic link.

[2016-08-11 21:42] pixerius opened #122 "Test and check commands do not work with Django 1.10"
[code]

`test` and `check` commands are not recognized as arguments in django 1.10.

[2016-08-23 08:03] piquadrat commented on #122
@pixerius thanks for the report. We're working on support for Django 1.10 and will release an update soon

[2016-08-25 14:19] piquadrat commented on #122
@pixerius we just uploaded version 3.4 of the Opbeat module to pypi, with support for Django 1.10. Can you give it a try?

[2016-08-25 14:20] piquadrat commented on #120
@huwshimi we just pushed version 3.4 of the Opbeat module to PyPI, with support for Django 1.10. Can you give it a try?

[2016-08-25 14:20] #120 closed

[2016-08-25 22:20] huwshimi commented on #120
@piquadrat thanks heaps! I'll give it a go.

[2016-08-26 13:03] pixerius commented on #122
@piquadrat works as expected. thanks!

[2016-08-27 12:37] #122 closed

[2016-08-29 08:00] piquadrat commented on #122
Great, thanks for checking!

[2016-08-31 09:33] piquadrat opened #128 "request.opbeat['id'] is buggy"
There are a bunch of `$`-signs in there that don't belong there :)

[2016-09-01 09:53] OmegaDroid opened #130 "Missing errors (unable to validate data)"
I have setup opbeat on my django project. When I run `manage.py opbeat test` everything works fine and I see the test error in my opbeat dashboard. When my site raises a `FileNotFoundError` error from template rendering however I see nothing.

I have dug into the request being sent and the response is:
[code]

This doesn't seem to happen with all errors however, `DisallowedHost` errors are being r

[2016-09-05 16:10] roncohen commented on #130
Hi @OmegaDroid.

Thanks for reaching out and sorry for the slow reply.
We have just deployed a fix for a related error. Could you check if you're still experiencing this?

[2016-09-06 14:13] OmegaDroid commented on #130
Hi @roncohen, that seems to be working now thanks :+1:

[2016-09-06 16:41] roncohen commented on #130
Wonderful. Feel free to reopen if this happens again.

[2016-09-06 16:41] #130 closed

[2016-09-13 20:53] txels opened #131 "400 error opbeat http transport "SERVER_PORT": "80 is not of type <class \'str\'>""
We get the following error when opbeat tries to report an exception from our django service (django 1.10, python 3.5). Our error happens when an HTTP request to another service fails. Then opbeat tries to report the error and fails to do so.

Looks like the issue is internal to the opbeat client (we use 3.2.1).

[code]

We'll try to upgrade to latest version while we don't hear back from you guys

[2016-09-13 21:07] txels commented on #131
Upgrading to 3.4.0 does not fix this issue.

[2016-09-15 08:27] txels commented on #131
After doing some internal debugging, I realised that in python 3.5.1, django 1.10.1 (I haven't checked other combinations), `request.META['SERVER_PORT']` is an int and not a str:

[code]

This appears to be in contradiction with the django docs (https://docs.djangoproject.com/en/1.10/ref/request-response/#django.http.HttpRequest.META) that state:

So I'd say this looks like it may be a bug/backwar

[2016-09-15 08:47] txels commented on #131
Hmm, I think this is caused by django channels. It uses its own ASGI request and sets SERVER_PORT, as an integer:

https://github.com/django/channels/blob/master/channels/handler.py#L68

[2016-09-15 09:31] piquadrat commented on #131
Thanks for the report @txels. Thanks for the thorough investigation. We should be able to implement a workaround for this server-side. I'll let you know when this is shipped.

[2016-09-16 12:36] piquadrat commented on #131
@txels we just shipped a workaround. Can you check from your side if errors get through our validation again?

[2016-09-16 12:45] #131 closed

[2016-09-16 12:49] txels commented on #131
This worked well, thanks!

[2016-09-16 13:00] piquadrat commented on #131
Great, thanks again for the report!

[2016-09-21 11:55] nMustaki opened #133 "Template rendering broken with Django 1.9 ?"
Hi,

we tried Opbeat on our test server, which is in debug mode but it crashed template rendering.

Running python manage.py opbeat check is working, performances and errors are sent to Obpeat, but the middleware breaks template rendering with error TypeError: object.__init__() takes no parameters

It breaks line 113 of opbeat/contrib/django/middleware/__init__.py
[code]

The stacktrace of the pro

[2016-09-22 16:01] andres-torres-marroquin commented on #133
My guess is that you're misconfiguring your settings.py. I'm currently using django 1.9, without problems. I think you're setting up a Middleware in the template context processors. The `'opbeat.contrib.django.middleware.OpbeatAPMMiddleware'`, goes in `MIDDLEWARE_CLASSES`

[2016-09-24 08:05] nMustaki commented on #133
Many thanks !

[2016-09-24 08:05] #133 closed

[2016-09-26 10:40] #128 closed

[2016-09-26 10:44] piquadrat commented on #108
@docapotamus we implemented PyMongo support in #132 and will cut a release soon. If you have some time, we'd be thrilled if you could give it a go!

Closing this ticket in the meantime.

[2016-09-26 10:44] #108 closed

[2016-09-26 13:41] jordiecometrica opened #135 "Tracing `cursor.execute(sql)` call (without params) stack traces"
Here is an example of the stack trace:

[code]

I have a fix in progress, shouldn't be too hard.

[2016-10-20 14:41] willmcgugan opened #140 "async_mode strange code"
I've been browsing the Client code and I came across a line in base.py that stands out.

[code]

I'm guessing this is the intended effect?

[code]

[2016-10-21 09:46] piquadrat commented on #135
@jordiecometrica sorry for the slowness on this. I'm trying to come up with a test case that triggers this error but am having a hard time. Would you mind posting the SQL query (minus any sensitive values of course) here?

[2016-10-24 07:56] piquadrat commented on #135
Never mind, found one :)

[2016-10-24 12:35] piquadrat commented on #135
Closed by #136

[2016-10-24 12:35] #135 closed

[2016-10-25 14:13] piquadrat commented on #140
@willmcgugan thanks for the headsup, this does indeed look a bit strange. We tried to remember why we wrote it this way, and came to the conclusion that it has to do with the deprecation logic of the `async` argument. `async` will become a keyword in Python 3.6, so we introduced a deprecation path a while ago (using `async_mode` instead of `async`). We will remove `async` completely in the next ma

[2016-10-25 14:14] piquadrat commented on #67
Documentation for `opbeat.trace` has been added here: https://opbeat.com/docs/articles/custom-instrumentation-in-python/

[2016-10-25 14:14] #67 closed

[2016-11-22 10:08] santiagomalter commented on #84
Hello @roncohen, I am particularly interested by the feature you mentioned, being able to distinguish HTTP requests served from the same django class based view. (GET /api/user/ vs POST /api/user/)

Is there any plan regarding this? Thanks!

And +1 for ajax vs. normal requests.

[2016-11-22 10:14] piquadrat commented on #84
@santiagomalter we shipped an implementation to distinguish between different http methods some months ago. If you don't see it, you might need to update your Opbeat module :)

[2016-11-22 10:20] santiagomalter commented on #84
@piquadrat Thanks for the quick reply :) Indeed, my bad, I was trying to express something slightly different.

In a Django context, we have multiple API endpoints served by the same class based view, let's say:

[code]

They all appear under the same "view", but performance can be totally different so it would make sense to use to distinguish them and if I'm correct it's not possible right now, b

[2016-11-22 10:26] piquadrat commented on #84
@santiagomalter are you using a framework like tastypie or Django Rest Framework or custom class based views? For the latter, and if you use viewsets, there's this workaround: https://gist.github.com/piquadrat/b494bd4b368ea4095dad3b629333ae58

[2016-11-22 10:36] santiagomalter commented on #84
Indeed, we are using Django Rest Framework. Thank you for the workaround, exactly what I was looking for, i'll implement that :)

[2016-12-06 10:44] emyller commented on #110
That would be very interesting! Currently, the Fabric-based model requires us to have the client codes hardcoded - unless we write some extra local configuration to cover multiple environments of an app on Opbeat (eg staging, production).
A management command would be excellent.

[2016-12-14 15:09] rossgray commented on #53
Hi,

I am reopening this issue because I have noticed the same problem in our application. Let me know if you prefer that I open a separate issue for it. We are running **Python 3.5.2 / Flask 0.11.1 / Opbeat 3.5.1**

We get the following from various points in our code when under medium load:

[code]

An example:

[code]

Could some exception handling be added to the Opbeat client to prevent issue

[2016-12-14 16:55] rossgray opened #144 "Trying to `pop` from empty `trace_stack`"
Hi,

I get the following exception from various points in our code when our Flask application is under medium load:

[code]

We are running **Python 3.5.2 / Flask 0.11.1 / Opbeat 3.5.1**

A full stack trace example:

[code]

Could some exception handling be added to the Opbeat client to prevent issues like this breaking our application? It seems related to an older, resolved issue: #53

If you nee

[2016-12-14 16:56] rossgray commented on #53
Sorry ignore the above comment - I have created a separate issue for this: #144

[2016-12-15 18:17] piquadrat commented on #144
Hi @rossgray :)

Thanks for opening the issue! We were able to replicate it, and currently suspect a threading issue to be the cause of it. A workaround for now might be to avoid using threaded WSGI servers and instead use multiple worker processes.

[2016-12-20 16:37] #144 closed

[2016-12-25 10:50] apollo13 opened #147 "Support for new MIDDLEWARE in Django 1.10"
It would be nice if the middlewares also supported the new middlewares in 1.10 which guarantee that the response path is always called, basically you'd need to add a `__call__` and modify `__init__` but could then dispatch to the existing methods.

[2016-12-28 21:42] bendemboski opened #148 "Unable to log celery tasks with settings extended via DJANGO_SETTINGS_MODULE"
Django 1.10.4
Celery 4.0.2
Opbeat 3.5.2

My production deployment pattern involves creating a separate settings module that imports my project's default settings file and then overrides some values with production-specific settings, meaning that when I run in production I use the DJANGO_SETTINGS_MODULE environment variable to point to a module outside my project's main app. After updating to the l

[2017-01-06 07:24] babu-upcomer opened #149 "Connection pool drop for almost every request"
[code]

Lately, we'are receiving this debug logs for almost every request to our backend. We have configured the performance middleware along with the default settings in the docs.

[2017-01-06 13:22] piquadrat commented on #147
@apollo13 sorry for the long response time, Christmas break got in the way a bit.

As for new style middlewares, I was assuming that inheriting from `django.utils.deprecation.MiddlewareMixin` would automatically handle this. Isn't that enough?

[2017-01-06 13:55] apollo13 commented on #147
@piquadrat Oh, I was looking at the WSGI middleware, sorry. Gotta see what my initial error was -- will reopen if I find something.

[2017-01-06 13:55] #147 closed

[2017-01-18 10:37] hugorodgerbrown commented on #97
@piquadrat is this still under investigation?

[2017-01-27 13:33] santiagomalter commented on #62
FYI there is a workaround here: https://gist.github.com/piquadrat/b494bd4b368ea4095dad3b629333ae58

[2017-02-07 19:13] blueyed opened #150 "Opbeat causes 500 with invalid UUID object (AttributeError: 'UUID' object has no attribute 'int')"
Opbeat fails to capture an error, if there is an exception during `build_msg_for_logging`:

[code]

The actual error `ValueError: badly formed hexadecimal UUID string` (with
should result in HTTP status 400) causes an `AttributeError` (HTTP status 500).

I think `transform`/`get_frame_info` should be wrapped in an exception handler, to handle this in general.

[2017-02-23 07:44] msgre opened #152 "PGConnectionProxy & JSONField problem"
Hi,
we are using OpBeat our Django/PostgreSQL application together with `django-jsonfield` package and it doesn't work. The reason (I believe) is that `conn_or_curs` object passed to `psycopg2` internals is `<class 'opbeat.instrumentation.packages.psycopg2.PGConnectionProxy'>` and not `<connection object>` or cursor.

Full traceback:

[code]

Versions:

[code]

[2017-02-23 08:16] piquadrat commented on #152
Hi @msgre :) Can you try and upgrade to the latest version of Opbeat? This issue should have been fixed in 6184b477e4, which was released in version 3.5 of the module.

[2017-02-23 08:36] msgre commented on #152
Hi @piquadrat, I could confirm that with `opbeat==3.5.2` our app works again. Thank you very much for help!

[2017-02-23 08:38] piquadrat commented on #152
Awesome :)

[2017-02-23 08:38] #152 closed

[2017-02-26 16:15] techdragon opened #153 "Errors running under Apache mod_wsgi in AWS Elastic Beanstalk"
Opbeat works correctly in local dev with debug turned on. But the module generates a FileNotFound error. This prevents pages from loading. This may need some kind of bypass setting to avoid triggering the problem since I can see why the uwsgi code is needed for checking the master pid.

[code]

`ASYNC: False` fails with a different error.

[code]

[2017-03-02 16:31] piquadrat commented on #153
Hi @techdragon. I have to admit, I'm a bit confused. Importing a non-existing module shouldn't raise a `FileNotFoundError`, but an `ImportError`.

Google led me to this issue on the Python bugtracker: https://bugs.python.org/issue22834. The gist of it seems to be that `importlib` didn't like if the current directory got deleted during the lifetime of the process. Is something like this happening i

[2017-03-03 07:39] techdragon commented on #153
@piquadrat I've opened #154 with a possible fix. I've tested it in The same AWS Elastic Beanstalk environment that produced the original errors, and it seems to now work as intended.

[2017-04-03 14:36] ksmandersen commented on #97
+1

[2017-04-16 07:44] hugorodgerbrown commented on #97
Any update on this?

[2017-05-30 19:46] a-sonets opened #162 "py36: exception on import six: AttributeError: 'NoneType' object has no attribute 'submodule_search_locations'"
Global __spec__ is None when try to import Opbeat on initializing pytest tests (Flask).

Possible fix:
[code]

[2017-06-08 15:04] hugorodgerbrown commented on #97
Any update? This is getting close to abandon territory.

[2017-06-08 15:23] beniwohli commented on #97
Hi @hugorodgerbrown, sorry for the silence on this! Totally my fault that this fell through the cracks.

Unfortunately, we weren't able to resolve this issue, and I can't give you a timeline at the moment. However, we plan to ramp up the work on our Python agent over the coming months, and first-class support for rq is definitely a priority.

[2017-06-08 16:35] hugorodgerbrown commented on #97
Thanks for the update @beniwohli - out of interest do you have any further detail on why / where it falls down - plenty of people on this thread available to help diagnose / fix on your behalf?

[2017-06-09 14:10] dmarcelino commented on #152
Thanks!

[2017-06-14 21:40] alexandermeyer opened #163 "Django 1.11 Support"
Using Django 1.11, there is a crash without a stack trace when using runserver. This is with a Python 3.6 Docker image.

[2017-06-23 14:47] beniwohli commented on #163
Thanks for reporting this! I'll have a closer look and try to replicate!

[2017-06-26 11:33] beniwohli commented on #163
Hi @alexandermeyer. I tried to replicate this with a bare Django 1.11.2 project on Python 3.6, but didn't have any success. Also, we have a lot of users on Django 1.11 / Python 3.6 that don't experience this issue, so it's probably not a general Django 1.11 problem.

Can you help me with a couple questions?

1. When does your app crash, during startup, when the first request comes in, or after som

[2017-06-26 13:59] beniwohli commented on #162
@a-sonets thanks for the report, and sorry for the long silence here. It looks like this is an issue in the `six` library which we vendor, and has been fixed in a newer version. Vendoring a newer version of the library should help. I'll try to get a fix out this week.

[2017-06-30 08:00] #162 closed

[2017-06-30 08:01] #153 closed

[2017-06-30 08:05] beniwohli commented on #149
Hi @babu-upcomer. Sorry for the long wait on this :(

This debug message is nothing to be concerned about. The TCP connection is only kept open for a few seconds, and transactions are sent every minute or so.

[2017-06-30 08:05] #149 closed

[2017-06-30 08:05] #112 closed

[2017-07-05 16:39] alexandermeyer commented on #163
@beniwohli Thanks for looking into this!

1. The app crashes as soon as I click into a model in the Django admin.
2. No traceback appears when running with `--traceback`; the container just shuts down.
3. I sent the requirements.txt to support@opbeat.com and referenced this issue.
4. When I remove `'opbeat.contrib.django'` from `INSTALLED_APPS`, it works as intended, which is why I thought it migh

[2017-07-05 20:27] beniwohli commented on #163
Thanks for the requirements file Ales, I'll have a closer look.

Meanwhile, the fact that it crashes when you go into the Django Admin gave me a (very possibly wrong) hunch: could it be that the machine where you're running the `runserver` command is somewhat memory-restricted? Running opbeat has some memory overhead, especially if a view has lots of traces (which can easily happen in the admin ch

[2017-07-06 06:27] sivabudh commented on #97
@beniwohli Please help with regards to this issue because we would love to profile our RQ worker as well.

[2017-07-06 19:09] alexandermeyer commented on #163
It did have to do with memory! Adding `import threading; threading.stack_size(8*1000*1024)` to `manage.py` solved the issue.

Thanks for your help, @beniwohli.

[2017-07-06 19:10] #163 closed

[2017-07-25 16:09] sathoro commented on #62
@santiagomalter the link is now broken, do you have any other info on the workaround? We are facing the same issue

[2017-07-25 21:12] blueyed opened #168 "Improve test setup"
The test setup is quite bad: do you plan to improve this, e.g. by using tox as a first class citizen, and not just wrapping `setup.py test` there?

[2017-07-26 07:11] beniwohli commented on #168
Hi @blueyed. We mostly rely on Travis to run our test matrix. There are some improvements that we plan (e.g. separating unit tests from integration tests more clearly, and rewrite the nose tests into proper pytest tests). Do you have any other suggestions?

[2017-07-26 07:41] beniwohli commented on #168
Oh yeah, there is also the issue of `isort` being finicky as hell. I plan to move isort into its own check. Or remove it completely, it's debatable if the benefit is worth the constant pain it generates...

[2017-07-26 09:10] jalvz commented on #62
This the one: https://gist.github.com/beniwohli/b494bd4b368ea4095dad3b629333ae58

[2017-07-26 10:42] blueyed commented on #168
I see.
I think it would be nice to make more use of tox's features, instead of the custom script for Travis, so that you could run the tests easily using `tox -e`.
There is e.g. https://github.com/ryanhiebert/tox-travis which might be useful for integration on Travis.

Yes, just having a single `qa` job (e.g. via `make check_qa`) would also help with finishing the test builds faster.

Regarding th

[2017-07-26 13:28] blueyed opened #171 "Attach extra data to exceptions"
It is possible to provide `extra` information when logging:

[code]

But I could not find a documented way to do so with exceptions?

It seems to work through a custom `capture` method (via `settings.OPBEAT['CLIENT']`):

[code]

Would this be something to handle in a generic way via
`opbeat.events.Exception.capture`?

[2017-07-26 18:33] sathoro commented on #62
@jalvz Thanks! I ended up creating a more generic solution:

`class OpbeatViewNameMiddleware(object):
    def __init__(self, get_response):
        self.get_response = get_response

    def __call__(self, request):
        return self.get_response(request)

    def process_view(self, request, view_func, view_args, view_kwargs):
        if (
            hasattr(request, '_opbeat_view_func') and

[2017-07-27 04:16] RichardForshaw opened #172 "Django Management commands not working- possible Django 1.11 incompatibility?"
When running `./manage.py opbeat` I get the standard opbeat response, but running `./manage.py opbeat check` or `./manage.py opbeat test` results in an unknown command error.

I am running Django 1.11.3

[code]

[2017-07-27 11:41] blueyed opened #174 "Test coverage"
Are there plans to setup something like Codecov to track code coverage?

[2017-07-27 11:47] beniwohli commented on #174
Yes, amongst other things :) at the moment, we're in the process of preparing to move this repository to the Elastic organization. After that, we plan to do some cleanup of the test suite and add coverage tracking.

[2017-08-11 14:18] michael-k opened #178 "`async` is a reserved keyword in Python 3.7"
https://github.com/opbeat/opbeat_python/blob/02af225ce1c2358d22061097352529a7e753d9ce/opbeat/base.py#L122

[2017-08-11 14:28] beniwohli commented on #178
Thanks @michael-k :) we already started phasing out the `async` keyword argument in favour of `async_mode` a while ago, and will remove it well before Python 3.7 is released (probably in time for beta1 of Python 3.7).

[2017-08-11 14:44] michael-k opened #179 "Recipe: Capture exceptions during celery/kombu's serialization"
Example for pickle; works similar for JSON, YAML, …
[code]

I did not figure out where to put this.  If you can point me to a file, I'm happy to open a PR.

I guess the `LookupError` is enough, but we did not care enough to investigate.  If someone from opbeat wants to see a logged example (closed source project; with a LookupError), I'm happy to provide a link via email.

We call the functions wh

[2017-08-30 12:01] brylie opened #183 "Django 1.11 support?"
The Cookiecutter Django project depends on this package. Currently, Cookiecutter Django is pinned to Django 1.10.x, based on an [issue to check for 1.11.x support in project dependencies](https://github.com/pydanny/cookiecutter-django/issues/1111).

Is the opbeat_python package known to work with Django 1.11?

[2017-08-30 12:06] beniwohli commented on #183
Hi @brylie. We run our [test suite](https://travis-ci.org/opbeat/opbeat_python) with Django 1.11, and have lots of customers running the Opbeat module on Django 1.11

[2017-08-30 12:08] brylie commented on #183
Thanks for the confirmation. I will quote your reply in the downstream issue.

[2017-08-30 12:08] #183 closed

[2017-09-21 09:29] djm commented on #97
@sivabudh @beniwohli @ksmandersen @sburns

I spent a little time on this and managed to get it working; it's a little bit more manual than the rest of the out of the box experience but it works just fine for us.

It involves writing your own rq exception handler and plugging it into the Worker; then contacting Opbeat with the normal client (not Django client) via sync requests. Sync requests are a

[2017-11-01 14:29] nzjrs opened #188 "add ability to disable exception logging in flask extension"
I'm already using sentry for error logging, so what interests me about opbeat is the performance monitoring aspects.

Would it be acceptable to add a config option (similar to `logging=False`) that would disable the installation of the exception handler?

If so, I can prepare a quick PR

[2017-12-02 00:17] kennell commented on #39
I belive this issue is present again with Django 1.11:

[code]

[2017-12-12 11:06] coagulant opened #190 "request.user.is_authenticated is not callable in Django 2.0"
See: https://github.com/MyBook/opbeat_python/pull/1

Sorry, don't have to to do a proper pull-request, because my fix would break exiting Django < 1.10 support or would require to vendor compatibility shims. Which is cumbersome given there is no Django tox matrix to test against.

[code]

[2017-12-12 15:05] michael-k commented on #190
same here

[2017-12-12 15:57] beniwohli commented on #190
Hey all! Since [Opbeat has joined Elastic](https://www.elastic.co/blog/welcome-opbeat-to-the-elastic-family), we concentrated our efforts on the all new Elastic APM (with a Beta release to drop Real Soon Now™️). Unfortunately, this means that we will not be able to get the Opbeat module to be compatible with Django 2.0.

If you want to give Elastic APM a spin, it's open source and ready for [Downl

[2017-12-12 16:04] michael-k commented on #190
Then we'll have to run our fork in production for now.

[2017-12-12 16:05] robert-weissgraeber commented on #190
Are you serious on this? This is a 20 line change, that you don't even have to write.

[2017-12-12 16:07] mfa commented on #190
we will have to move (back) to sentry then.
they have 2.0 support: getsentry/raven-python#1127

[2017-12-13 12:32] beniwohli commented on #190
Hey all

We hear your concerns, and reconsidered the decision on Django 2.0. I just opened a PR that should fix this and other issues (mostly with our test suite): #193. It's slightly more than 20 lines ;)

I will create a new release on PyPI once the tests pass, this will probably take a couple hours

[2017-12-13 16:38] browniebroke opened #195 "Documentation for supported python and Django version is outdated"
Missing Django 1.11 and Python 3.6 at least. https://opbeat.com/docs/articles/get-started-with-django/#supported-django-and-python-versions

Not sure if you still support as far back as Django 1.4? I tried to look into this repo, but this doc appears to be maintained somewhere else.

Anyway, I thought I'd report this small documentation issue.

[2017-12-13 22:53] beniwohli commented on #190
I just pushed version 3.6 to PyPI, which contains the fixes from #193.

[2017-12-13 22:53] #190 closed

[2017-12-15 17:00] smaniotto commented on #102
Not sure if it's related, but I'm having this error message when sending a test exception:
[code]

[2018-01-29 12:28] nicoknoll opened #196 "psycopg2.sql – SQL string composition (psycopg2 2.7+) breaks opbeat"
Hey, after upgrading to psycopg2 2.7 I started to use the SQL string composition (see first line of the traceback) which seems to break the opbeat "extract_signature" function. Here is the traceback:

[code]

You can reproduce it by simply trying to call cursor.execute on and sql composition (like in the first line of the traceback).

Is there a way to disable opbeat for some specific cursor.execu

[2018-01-29 12:38] beniwohli commented on #196
Hi Nico!

Thanks for the report, we will look into it. I wasn't aware of this new feature in psycopg2.

Unfortunately, there is no good way to disable opbeat only for certain queries, so you'll probably have to disable Opbeat completely for now. I hope to have a fix for this soon.

[2018-01-29 12:52] beniwohli commented on #196
@nicoknoll correction, you can disable instrumentation of psychopg2 by setting the environment variable `SKIP_INSTRUMENT_PSYCOPG2` to a non-empty value

[2018-01-29 13:00] nicoknoll commented on #196
Thanks for the fast reply :) Probably going with `SKIP_INSTRUMENT_PSYCOPG2` for now then but obviously we'd rather continue monitoring sql with opbeat :)

Btw.: I think it should be really easy to fix this - just need to check if sql is "Composed" and if so call "as_string" (http://initd.org/psycopg/docs/sql.html#psycopg2.sql.Composable.as_string) on it before continuing.

[2018-01-29 13:05] beniwohli commented on #196
Yup, that's what it looks like. Unfortunately, `as_string()` also needs a cursor or connection, which we haven't needed there so far, so this also needs a bit of refactoring :)

[2018-01-30 09:32] #196 closed

[2018-01-30 16:34] nicoknoll commented on #196
@beniwohli Thanks a lot!

[2018-01-30 16:39] beniwohli commented on #196
@nicoknoll I didn't manage to push the release to PyPI just yet, but I will tomorrow

BTW, as you might know, Opbeat joined with @elastic last year, and we're working on bringing the Opbeat experience to the Elastic Stack. We have a [beta release](https://www.elastic.co/blog/elastic-apm-beta-released) out, would be awesome to hear what you think.

The Python Opbeat agent will only see sporadic fix

[2018-02-22 13:30] brett-lempereur opened #198 "Boto instrumentation incorrectly assumes structure of URLs"
The `boto` OpBeat integration incorrectly makes some assumptions about the structure of URLs and fails when those assumptions don't hold.  To replicate:

1. Enable `storages` support for the Boto3 backend.
2. Change the setting `AWS_S3_ENDPOINT_URL` to a hostname that does not match the service-region convention, more specifically one that does not contain a `'.'` character.
3. Attempt to perform

[2018-02-22 14:07] beniwohli commented on #198
Thanks for the report @brett-lempereur! I don't have the setup to properly test this, but if I understand you correctly, https://github.com/opbeat/opbeat_python/pull/199 should fix this. Would you mind trying out that branch in your test suite?